{% extends 'base.html' %}
{% block content %}

    <h2>Details for: {{ movie.title }} </h2>

      <p>What do you think of this movie? Tell us! Now!</p>
      <form id="rate-movie" action="/add-rating">
        <input type="radio" name="rating" value="1"><label>1 (ugh, terrible): </label><br>
        <input type="radio" name="rating" value="2"><label>2: </label><br>
        <input type="radio" name="rating" value="3"><label>3 (meh): </label><br>
        <input type="radio" name="rating" value="4"><label>4: </label><br>
        <input type="radio" name="rating" value="5"><label>5 (so good, so good): </label><br>
        <input type="hidden" name="movie_id" value={{ movie_id }}>
        <input type="hidden" name="effective_rating" value={{ effective_rating }}>
        <input type="submit" value="Rate it!" id="submit">
      </form>

      <p>{{ movie.title}} (Released: {{movie.release_date.year}})</p>
      <a href="{{ movie.imdb_url}}"> {{ movie.imdb_url}} </a>
      
      <p>Our prediction for your rating: {{ prediction }}</p>
      <p>Average rating for this movie: {{ avg_rating }}</p>
      <div class="the-eye-hates"></div>
      <ul>Rating Scores:
         {% for rating in ratings %}
          <li>
              {{rating.score}}
          </li>
      {% endfor %}
    </ul>

<script>
// TODO: need to figure out how to return the individual results from form (incl eff. rating, etc.) to /add-rating
function submitRating(evt) {
  alert("It works! Sorta.");
  evt.preventDefault();
  $.post("/add-rating", $("#rate-movie").serializeArray(), showBeratement);
}

function showBeratement(result) {
  $(".the-eye-hates").html("<h2>THE EYE SAYS:</h2> <p></p>");
  console.log(result);
}

$("#rate-movie").on("submit", submitRating);

</script>
{% endblock %}